In [4]:
#importing libraries 

import pandas as pd
import matplotlib.pyplot as plt

#for cleaner output display

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)


#load data from the csv file

file = 'C:\\Users\\aksha\\data_analysis_job_market\\dataset\\data_jobs.csv'
df = pd.read_csv(file)
#print(df.head())

#Data cleanup : the job_posted_date is in string format so let's convert that into datetime object

df['job_posted_date'] = pd.to_datetime(df.job_posted_date)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  datetime64[ns]
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
dtypes: bool(3), datetime64[ns](1), float64(2), object(11)
memory usage: 86.2+ MB

In [8]:
# fill all the jobs that do not a specified salary with the median salary. Do this to both yearly and hourly

median_salary_yearly = df['salary_year_avg'].median()
median_salary_hourly = df['salary_hour_avg'].median()

# fill all the NaN values in both the columns

df_filled = df

df_filled['salary_year_avg']= df_filled['salary_year_avg'].fillna(median_salary_yearly)
df_filled['salary_hour_avg'] = df_filled['salary_hour_avg'].fillna(median_salary_hourly)

print(df_filled[['salary_year_avg','salary_hour_avg']].head(20))

    salary_year_avg  salary_hour_avg
0          115000.0            45.98
1          115000.0            45.98
2          115000.0            45.98
3          115000.0            45.98
4          115000.0            45.98
5          115000.0            45.98
6          115000.0            45.98
7          115000.0            45.98
8          115000.0            45.98
9          115000.0            45.98
10         115000.0            45.98
11         115000.0            45.98
12         115000.0            45.98
13         115000.0            45.98
14         115000.0            45.98
15         115000.0            45.98
16         115000.0            45.98
17         115000.0            45.98
18         115000.0            45.98
19         115000.0            45.98

In [16]:
## lets drop duplicate rows

df_unique = df_filled
df_unique = df_unique.drop_duplicates()

print('Length of the original data frame              :', len(df_filled))
print('Length of unique data frame without duplicates :', len(df_unique))
print('Number of duplicates                           :', len(df_filled)-len(df_unique))

Length of the original data frame              : 785741
Length of unique data frame without duplicates : 785640
Number of duplicates                           : 101

In [17]:
## lets drop duplicates of jobs posted from the same company

df_unique = df_unique.drop_duplicates(subset=['job_title','company_name'])
print('Length of the original data frame              :', len(df_filled))
print('Length of unique data frame without duplicates :', len(df_unique))
print('Number of duplicates                           :', len(df_filled)-len(df_unique))

Length of the original data frame              : 785741
Length of unique data frame without duplicates : 508042
Number of duplicates                           : 277699