In [18]:
# I want to find the jobs that have high average slalry, high job postings and maximum salary for the job posting


import pandas as pd
import matplotlib.pyplot as plt
import ast

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

file = "C:\\Users\\aksha\\data_analysis_job_market\\dataset\\data_jobs.csv"
df = pd.read_csv(file)

## first let me group by job_title and find the average salary for that job title
df_avg_salary = df.groupby(['job_title_short'])['salary_year_avg'].agg(['mean','count']).sort_values(by= 'mean',ascending=True)

df_avg_salary.head()

                              mean  count
job_title_short
Business Analyst      91082.612833    610
Data Analyst          93841.907854   5451
Cloud Engineer       111268.453846     65
Software Engineer    113393.760054    467
Senior Data Analyst  113911.363665   1131

In [21]:
## Pivot table to find the high paying jobs with their average salaries and maximum salaries 

df_salary_summary= pd.pivot_table(
    df,
    index = 'job_title_short',
    values= 'salary_year_avg',
    aggfunc= ['mean','count']
)
print(df_salary_summary.head())

                            mean           count
                 salary_year_avg salary_year_avg
job_title_short
Business Analyst    91082.612833             610
Cloud Engineer     111268.453846              65
Data Analyst        93841.907854            5451
Data Engineer      130125.604250            4500
Data Scientist     135988.837171            5922